.home-page {
  margin-top: 8vh;
  padding: 40px 180px;
  height: 92vh;
  width: 100vw;
  background: var(--background-color);
  display: flex;
  justify-content: center;
}

.text-layout {
  width: 100%;
  margin-right: -150px;
  z-index: 3;
}

.text-layout h1 {
  color: var(--primary-text-color);
  font-size: 6rem;
  margin-bottom: 3rem;
}

.text-layout h4 {
  color: var(--secondary-text-color);
  font-size: 3rem;
}

.img-background {
  width: 860px;
  border-radius: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--img-background-color);
}

.img {
  width: 360px;
  height: 100%;
}

#titleLine1::after {
  content: "\a";
  white-space: pre;
}

@media only screen and (max-width: 1250px) {
  .home-page {
    padding: 40px 100px;
  }
}

@media only screen and (max-width: 1107px) {
  .home-page {
    padding: 50px 200px;
    height: auto;
    flex-direction: column;
  }

  .text-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
    margin-right: 0px;
  }

  .text-layout h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  .text-layout h4 {
    font-size: 2.5rem;
  }

  .img-background {
    width: 100%;
    justify-content: center;
  }
}

@media only screen and (max-width: 855px) {
  .home-page {
    padding: 30px 160px;
  }

  .text-layout h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  .text-layout h4 {
    font-size: 2.5rem;
  }

  .img-background {
    width: 100%;
    justify-content: center;
  }

  .img {
    width: 300px;
    height: 100%;
  }
}

@media only screen and (max-width: 772px) {
  .home-page {
    padding: 30px 130px;
  }

  .text-layout h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .text-layout h4 {
    font-size: 2rem;
  }

  .img-background {
    width: 100%;
    justify-content: center;
  }

  .img {
    width: 300px;
    height: 100%;
  }
}

@media only screen and (max-width: 624px) {
  .home-page {
    padding: 30px 60px;
  }

  .text-layout h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .text-layout h4 {
    font-size: 1.3rem;
  }

  .img {
    width: 260px;
  }
}
