.navbar {
  height: 8vh;
  width: 100vw;
  background: var(--background-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

.home-title-logo {
  height: 100%;
  font-size: 2rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--navbar-text-color);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  padding: 0 1rem;
}

.home-title-logo:hover {
  transform: scale(1.2);
  background: var(--primary-text-color);
  color: white;
}

.nav-items {
  width: 60rem;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
}

.nav-item {
  height: 100%;
  margin-left: 1.5rem;
  padding: 0rem 1.5rem;
  transition: 0.2s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.2);
  background: var(--primary-text-color);
}

.nav-item:hover a {
  color: white;
}

.nav-item a {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--navbar-text-color);
  text-decoration: none;
}

.sidebar-toggle {
  width: 40vw;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.sidebar-toggle-logo {
  color: var(--navbar-text-color);
  text-decoration: none;
  font-size: 2.5rem;
  cursor: pointer;
}

.sidebar {
  background: var(--background-color);
  height: 92vh;
  width: 16rem;
  position: fixed;
  top: 8vh;
  left: -100%;
  transition: 0.3s all ease-in-out;
  z-index: 10;
}

.sidebar.active {
  left: 0;
  transition: 0.5s all ease-out;
}

.sidebar-items {
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1.2rem;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all ease-out;
}

.sidebar-item {
  list-style: none;
  width: 100%;
  height: 70px;
}

.sidebar-item a {
  text-decoration: none;
  color: var(--navbar-text-color);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s all ease-out;
}

.sidebar-item a:hover {
  background: var(--primary-text-color);
}

@media only screen and (max-width: 900px) {
  .home-title-logo:hover {
    transform: none;
    background: none;
    color: var(--navbar-text-color);
  }
}
