@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

:root {
  --background-color: rgb(245, 247, 250);
  --background-color-dark: rgb(237, 239, 242);
  --primary-text-color: rgb(148, 102, 234);
  --secondary-text-color: rgb(255, 117, 153);
  --img-background-color: rgb(224, 224, 224);
  --navbar-text-color: rgb(190, 190, 190);
  --navbar-text-color-dark: rgb(130, 130, 130);
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 9;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
